<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://www.afpa.fr/afpa-theme/1.18.2/images/afpa/favicon.ico">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Jarditou tu es où ?</title>
    
    <meta content="perdu ! 404 error" name="description" />
<!-- a rediger avec le .htaccess 
<IfModule mod_rewrite.c>
RewriteEngine On
ErrorDocument 404 /404.html
</IfModule>
-->

</head>
<body>

    <div class="container p-5">
        <div class="row">
         <!--colonnes-->
            <div class="col">
                <p class="h1 text-uppercase">Perdu ! <br>jouez encore 
                </p>
                <p>+ de 404 produits...<br>:-)</p>
            </div>
        </div>
        <div class="row">
            <!--colonnes-->
               <div class="col">
                   <p class="h4"><a class="text-decoration-none text-success" href="/produits.php">Retour aux produits de jarditou ici ...</a></p>
               </div>
           </div>
    </div>
</body>
</html>
